---
layout: layout
---

@using System.Linq;
@using Pretzel.Logic.Templating.Context
@using Page = Pretzel.Logic.Templating.Context.Page

<!-- Title -->
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">@Model.Page.Title</h1>
            <h1 class="page-subhead-line">All of our sites listed in Alphabetical order.</h1>
        </div>
    </div>

    <!-- Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div>
                @{
                    List<Page> posts = new List<Page>();
                    foreach( Page post in Model.Site.Posts )
                    {
                        // Only care about our sites.
                        if( post.Bag.ContainsKey( "layout" ) && ( post.Layout == "site" ) )
                        {
                            // Grab our browse page's model.  If its all,
                            // then add all pages.  Else, only add a page
                            // that matches this browse page's category.
                            if( Model.Page.Bag.ContainsKey( "category" ) )
                            {
                                if( Model.Page.Bag["category"].Equals( "all" ) )
                                {
                                    posts.Add( post );
                                }
                                else
                                {
                                    foreach( string category in post.Categories )
                                    {
                                        if( category.Equals( Model.Page.Bag["category"] ) )
                                        {
                                            posts.Add( post );
                                        }
                                    }
                                }
                            }
                        }
                    }

                    posts = posts.OrderBy( p => p.Title.ToLower() ).ToList();

                    @:<ul>
                    foreach( Page post in posts )
                    {
                        @:
                        <li><a href="@post.Url">@post.Title</a></li>
                    }
                    @:</ul>
                }
                @Raw( Model.Content )
            </div>
        </div>
    </div>
</div>