---
layout: layout
---

@using System.Linq;
@using Pretzel.Logic.Templating.Context
@using Page = Pretzel.Logic.Templating.Context.Page


@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<!-- Title -->
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">@Model.Page.Title</h1>
            <h1 class="page-subhead-line">All of our sites listed in Alphabetical order.</h1>
        </div>
    </div>

    <!-- Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div>
                @{
                    List<Page> pages = new List<Page>();
                    foreach( Page page in Model.Site.Pages )
                    {
                        if( page.Bag.ContainsKey( "layout" ) && ( page.Layout == "site" ) )
                        {
                            if( Model.Page.Bag.ContainsKey( "category" ) )
                            {
                                if( Model.Page.Bag["category"].Equals( "all" ) )
                                {
                                    pages.Add( page );
                                }
                                else if( page.Bag.ContainsKey( "categories" ) )
                                {
                                    var categories = page.Bag["categories"].ToString().Split();

                                    foreach( var category in categories )
                                    {
                                        if( category.Equals( Model.Page.Bag["category"] ) )
                                        {
                                            pages.Add( page );
                                        }
                                    }
                                }
                            }
                        }
                    }

                    pages = pages.OrderBy( p => p.Title.ToLower() ).ToList();

                    @:<ul>
                    foreach( Page page in pages )
                    {
                        @:
                        <li><a href="@page.Url">@page.Title</a></li>
                    }
                    @:</ul>
                }
                @Raw( Model.Content )
            </div>
        </div>
    </div>
</div>